<div class="row">
    <div class="col-md-6">
        <h2>Employee Management</h2>
    </div>

    <div class="col text-right" style="text-align: end;">
        <button type="button" class="btn btn-outline-success" (click)="onAddEmployee()">
            <i class="fa fa-plus"></i> Add Employee
        </button>
    </div>
</div>

<hr>

<div class="row pt-3 bgYellow">
    <div class="col-md-4" *ngFor="let item of employees$ | async">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title" (click)="navigateEmploye(item._id)">
                    {{item.name}}
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">{{item.position}}</h6>
                <p class="card-text border-top pt-2 mt-3">
                    Department: <strong>{{item.department}}</strong>
                </p>
                <button type="button" class="btn btn-sm btn-outline-primary mx-2"
                    (click)="onEditEmployee(item)">Edit</button>
                <button type="button" class="btn btn-sm btn-outline-danger" (click)="onDeleteEmployee(item._id)">Delete
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade show" [class.show]="showModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">{{(editMode) ? 'Update' : 'Add'}} Employee</h5>
                <button type="button" class="btn-close" (click)="onCloseModal()" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>

            <form [formGroup]="empForm" (ngSubmit)="onEmpSubmit()">
                <div class="modal-body">
                    <div class="form-group mt-2">
                        <label>Name</label>
                        <input type="text" class="form-control" formControlName="name">
                        <small *ngIf="!empForm.get('name')?.valid && empForm.get('name')?.touched"
                            class="form-text text-danger">Please Enter Name.</small>
                    </div>

                    <div class="form-group mt-3">
                        <label>Position</label>
                        <input type="text" class="form-control" formControlName="position">
                        <small *ngIf="!empForm.get('position')?.valid && empForm.get('position')?.touched"
                            class="form-text text-danger">Please Enter position.</small>
                    </div>

                    <div class="form-group mt-3">
                        <label>Department</label>
                        <input type="text" class="form-control" formControlName="department">
                        <small *ngIf="!empForm.get('department')?.valid && empForm.get('department')?.touched"
                            class="form-text text-danger">Please Enter department.</small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" (click)="onCloseModal()" class="btn btn-sm btn-secondary"
                        data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>