// Modal
.modal.fade.show {
    display: block;
    background: rgba(0, 0, 0, 0.4);
}

.card-title:hover {
    color: #1f4df2;
    cursor: pointer;
}

.bgYellow {
    background-color: #f9f2a4;
    border-radius: 3px;
}